<!-- src/app/pages/home/home.component.html -->
<div class="home-container">
    <section class="hero">
      <h1>Bem-vindo à Bina's Barber shop</h1>
      <p>Agende seu horário com facilidade e estilo.</p>
      <button routerLink="/agendamentos" class="btn-primary">Agendar Agora</button>
    </section>
  
    <section class="services">
      <h2>Nossos Serviços</h2>
      <ul>
        <li>Corte de Cabelo</li>
        <li>Barba Completa</li>
        <li>Pacotes Especiais</li>
      </ul>
    </section>
  </div>
  