.container__small-card{
  margin-bottom: 15px;

  @media(min-width: 1000px) {
    width: 700px;
  }
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;
}

.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(21, 83, 141, 0.986);
  transition: all 0.3s ease-in-out; /* Suaviza a transição do hover*/
}

.small-card__photo > img:hover{
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > h1 {
  font-size: 16px;
  transition: all 0.3s ease-in-out; /* Suaviza a transição do hover*/
}

.small-card__title > h1:hover{
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  color: rgb(35, 28, 141); /* Cor nova ao passar o mouse */
  text-shadow: 5px 5px 8px rgb(2, 132, 253); /* Sombra no texto */
}

.container__small-card__separator{
  margin-top: 10px;
}
