<!--Acesso ao menú de navegação (linkedIn, GuitHub)-->
<div class="container__menu-bar">
  <ul>
    <li id="linkedin">
      <a href="https://www.linkedin.com/in/constante-binoya-26474b25a/" target="_blank" rel="noopener noreferrer">Linkedin</a>
    </li>

    <li><span>|</span></li>

    <li id="github">
      <a href="https://github.com/ConstanteBinoya" target="_blank" rel="noopener noreferrer">Github</a>
    </li>

    <li><span>|</span></li>

    <li id="email">
      <a href="mailto:constantebinoyaz1@gmail.com" target="_blank" rel="noopener noreferrer">E-mail</a>
    </li>
  </ul>
</div>