<nav class="navbar">
    <div class="logo">
      <a routerLink="/">Barbearia</a>
    </div>
  
    <ul class="nav-links">
      <li class="dropdown">
        <button class="dropbtn">Clientes</button>
        <div class="dropdown-content">
          <a routerLink="/clients/new-client">Cadastrar</a>
          <a routerLink="/clients/list">Listagem</a>
        </div>
      </li>
  
      <li class="dropdown">
        <button class="dropbtn">Agendamentos</button>
        <div class="dropdown-content">
          <a routerLink="/schedules/month">Calendário</a>
        </div>
      </li>
    </ul>
  </nav>
  